body {
    margin: 0;
    font-size: 28px;
    font-family: OCR A Std, monospace;
    display: grid;
    background-color: rgb(105, 105, 105);
  }
#start, #shape {
	float: right;
	text-align: center;
	margin: 5px;
}

#container {
  margin: 40px auto;
  text-align: center;
  float: left;
}
#restart, #change1, #change2, #change3, #hint {
  background-color: Gray; 
  cursor: pointer;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  text-align: center;
  margin: 2px;
}
#change1, #change2, #change3{
  padding: 5px 15px;
}
#change1.active, #change2.active, #change3.active{
  background-color: lightsalmon
}
#shape{
  text-align: center;
  border: black;
  font-size: 15px;
}
.lightit {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 20px;
	background-color: Gray;
}

.light-on1 {
  cursor: pointer;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 20px;
	background-color: rebeccapurple;
}
.light-on2 {
  cursor: pointer;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 20px;
	background-color: greenyellow;
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 60px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
	background-color: lightsalmon;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	text-align: center;
  }
  